:root {
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  position: relative;
  font-size: 16px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  padding-top: 10px;
  background: linear-gradient(to bottom, #000000 20%, transparent);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  margin-left: 20px;
  width: 150px;
  height: 50px;
}
header .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-right: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin: 0 5px;
  transition: all 0.3s ease;
}

header nav ul li a:hover {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.slider {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
}

.slider-item {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('../images/slider/vplus-hotel-11403.jpg') no-repeat center center/cover;
}

.slider-text {
  position: absolute;
  left: 45%;
  bottom: 50%;
  z-index: 99;
  text-align: center;
  color: #fff;
}

.reservation {
  position: absolute;
  bottom: 50%;
  left: 2%;
  color: white;
}

.reservation h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.reservation p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.reservation a {
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.reservation-card {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.reservation-card .form-group {
  display: flex;
}

.reservation-card .form-group input {
  display: block;
  width: 100%;
  font-size: 15px;
  color: #222;
  padding: 19.5px 40px 20px 19.5px;
  background: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: none;
  border-radius: 0;
}

.reservation-card .form-group input[type='text'] {
  border-radius: 5px 0 0 5px;
}

.reservation-card button {
  background-color: #aa8453;
  color: #fff;
  border-radius: 0 5px 5px 0;
  border: none;
  cursor: pointer;
}

.reservation-card button:hover {
  background-color: #000;
}
