:root {
  --primary-color: #aa8453;
  --bg-cream: #dcc8a8;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  position: relative;
  font-size: 16px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  padding-top: 10px;
  background: linear-gradient(to bottom, #000000 20%, transparent);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  margin-left: 20px;
  width: 150px;
  height: 50px;
}
header .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-right: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin: 0 5px;
  transition: all 0.3s ease;
}

header nav ul li a:hover {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.slider {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
}

.slider-item {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('../images/slider/vplus-hotel-11403.jpg') no-repeat center center/cover;
}

.slider-text {
  position: absolute;
  left: 35%;
  bottom: 50%;
  z-index: 99;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

.reservation-card {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.reservation-card .form-group {
  display: flex;
}

.reservation-card .form-group input {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: #222;
  padding: 19.5px 40px 20px 19.5px;
  background: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: none;
  border-radius: 0;
}

.reservation-card .form-group select {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: #222;
  padding: 19.5px 40px 20px 19.5px;
  background: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: none;
  border-radius: 0;
}

.reservation-card button {
  background-color: var(--primary-color);
  padding: 0px 5px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.reservation-card button:hover {
  background-color: #000;
}

.subtitle {
  font-size: 1.3rem;
  line-height: 1;
}

.title {
  line-height: 1;
  font-size: 3rem;
  margin-bottom: 15px;
}

.about-section {
  display: flex;
  gap: 5px;
}

.about-section .stars {
  color: var(--primary-color);
}

.about-section .about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 5px;
}

.about-section .about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-section .rezervations-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.about-section .rezervations-card .fa-phone-volume {
  font-size: 2rem;
  color: var(--primary-color);
}
.about-section .rezervations-card a {
  font-size: x-large;
  color: var(--primary-color);
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.rooms-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: var(--bg-cream);
}

.rooms-section .rooms {
  display: flex;
  flex-wrap: wrap;
}

.rooms-section .rooms .room-card {
  width: 50%;
  padding: 5px;
}

.rooms-section .rooms .room-card .room-item {
  position: relative;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.rooms-section .rooms .room-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rooms-section .rooms .room-card .room-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  text-align: center;
}

.services-section {
  display: flex;
  flex-direction: row;
}

.services-section .services {
  display: flex;
  flex-wrap: wrap;
}

.services-section .services .service-item {
  width: 100%;
  padding: 30px 20px;
  border: 1px solid var(--bg-cream);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.services-section .services .service-item svg {
  font-size: 3rem;
  color: var(--primary-color);
}

footer {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
}

footer .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
}

footer .footer-top .footer-about {
  width: 50%;
}

footer .footer-top .footer-about h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}
footer .footer-top .footer-about p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-weight: 100;
}

footer .footer-top .footer-about img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

footer .footer-top .footer-menu {
  width: 25%;
}

footer .footer-top .footer-menu h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

footer .footer-top .footer-menu ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

footer .footer-top .footer-menu ul li {
  position: relative;
}
footer .footer-top .footer-menu ul li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  margin-bottom: 10px;
  display: block;
  transition: all 0.3s ease;
}

footer .footer-top .footer-menu ul li:hover {
  padding-left: 15px;
}

footer .footer-top .footer-menu ul li:hover::before {
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  width: 8px;
  height: 8px;
  content: '';
  background-color: #aa8453;
  opacity: 1;
  border-radius: 50%;
}

footer .footer-bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* contact Page */
.page-banner {
  background: no-repeat center center/cover;
  min-height: 30vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  position: relative;
}
