body {
  background-color: black;
  color: gray;
}
section {
  margin: 10px;
  padding: 10px;
  border: 1pxsolidgray;
}
a {
  padding: 5px;
  border: 1pxsolidgray;
}
/*tümlink*/
a:link {
  color: red;
}
/*ziyaretedilenlink*/
a:visited {
  color: #00ff00;
}
/*mouseüzerinegeldiğindelink*/
a:hover {
  color: #ff00ff;
}
/*seçildiğindelink*/
a:active {
  color: #0000ff;
}
.hello {
  display: none;
  background-color: yellow;
  padding: 10px;
}
.hoverMe:hover.hello {
  display: block;
}
p:first-child {
  color: red;
}
p:last-child {
  color: blue;
}
p:nth-child(2) {
  color: green;
}
input:focus {
  outline: none;
  border-color: red;
}
input:checked + div {
  display: block !important;
  color: green;
}
