body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.float-left {
  float: left;
  width: 50%;
  background-color: #f5f5f5;
  padding: 50px;
  box-sizing: border-box; /* içerik kutusunu, kenarlıkları ve dolgu dahil hesaplamak için */
}

.float-right {
  float: right;
  width: 50%;
  background-color: #e0e0e0;
  padding: 50px;
  box-sizing: border-box;
}

.float-me {
  float: left;
  width: 50%;
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
}

.text {
  float: left;
}

.floating-image {
  float: left;
  margin: 5px;
}

.clearfix {
  clear: right;
}
