* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: fit-content;
  height: 50px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}

.link-primary {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
  padding: 5px;
}

.link-seccondary {
  color: #fff;
  text-decoration: none;
  background-color: #a98d0f;
  padding: 5px;
}

.link-outline-primary {
  color: #007bff;
  text-decoration: none;
  border: 1px solid #007bff;
  padding: 5px;
  border-radius: 5px;
}

.link-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-wait {
  cursor: wait;
}
